.app {
    overflow: hidden;
}

.header {
    display: block;
}

/* Navbar */
.header__navbar {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
    margin-left: -15px;
    margin-bottom: -120px;
    height: var(--navbar-height);
    background: rgba(0, 0, 0, 0.1);
    z-index: 99;
}

.header__navbar-list {
    /* box-sizing: border-box; */
    list-style: none;
    display: flex;
    padding: 0;
    /* text-align: center; */
}

.header__navbar-logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__logo-img {
    width: 160px;
    float: left;
}

.header__navbar-item {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.header__navbar-item-link {
    padding: 25px 15px;
    color: var(--white-color);
    text-decoration: none;
    font-weight: normal;
    font-size: 1.4rem;
    line-height: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;

}

.header__navbar-item-link-book {
    padding-top: 12px;
    padding-bottom: 10px;
    border-radius: 30px;
    background-color: var(--primary-color-purple);
    margin-left: 25px;
}

.header__navbar-item:hover .header__subnav-item {
    display: block;
}

.header__subnav-item {
    display: none;
    position: absolute;
    padding: 0;
    top: 100%;
    left: 0;
}

.header__subnav-item-link {
    position: relative;
    padding: 15px 25px;
    min-width: 190px;
    list-style-type: none;
    background-color: var(--white-color);
    box-shadow: 0px 2px 5px #f1f1f1;;
    border-bottom: 1px solid #f1f1f1;
}

.header__subnav-item-link > a {
    width: 100%;
    text-decoration: none;
    color: var(--text-color);
    letter-spacing: 2px;
    font-size: 14px;
    text-align: left;
}

ul.header__subnav-item li > ul.header__subnav-item {
    padding-left: 25px;
    margin-left: 190px;
    top: 0;
    padding-top: 0px;
}

ul.header__subnav-item li > ul.header__subnav-item li {
    display: none;
}

ul.header__subnav-item li:hover > ul.header__subnav-item li {
    display: block;
}

.header__subnav-item-link:hover {
    background-color: #f9f9f9;
}

.header__subnav-item--hot_label.header__subnav-item-link::after {
    content: "HOT";
    float: right;
    background-color: #f76570;
    border-radius: 3px;
    color: var(--white-color);
    font-size: 10px;
    line-height: 10px;
    padding: 3px 5px;
    cursor: pointer;
}

.header__subnav-item--new_label.header__subnav-item-link::after {
    content: "NEW";
    float: right;
    background-color: var(--primary-color-green);
    border-radius: 3px;
    color: var(--white-color);
    font-size: 10px;
    line-height: 10px;
    padding: 3px 5px;
    cursor: pointer;
}

.header__subnav-item--best_label.header__subnav-item-link::after {
    content: "NEW";
    float: right;
    background-color: var(--primary-color-green);
    border-radius: 3px;
    color: var(--white-color);
    font-size: 10px;
    line-height: 10px;
    padding: 3px 5px;
    cursor: pointer;
}

.header__subnav-item-menu.header__subnav-item-link > a::after {
    content: "";
    float: right;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-color: transparent transparent transparent var(--text-color);
    margin-top: 3px;
    cursor: pointer;
}

.header__navbar-menu {
    padding: 0 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__menu-img {
    width: 25px;
}

/* Header */

.header__content {
    position: relative;
    overflow: hidden;
}

.header__container {
    /* position: relative; */
    left: -159.6px;
    box-sizing: border-box;
    width: 1519px;
    padding-top: 270px;
    padding-bottom: 200px;
    padding-left: 159.6px;
    padding-right: 159.4px;
}

.header__wrapper {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
}

.header__heading {
    color: var(--white-color);
    text-align: center;
    font-size: 50px;
    line-height: 50px;
    letter-spacing: 0;
    font-weight: bold;
    margin: 0;
}

.header__heading > u {
    position: relative;
    text-decoration: none;
}

.header__heading > u::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 5px;
    left: 0;
    bottom: 11px;
    background-color: var(--primary-color-purple);
    z-index: -1;
}

.header__background {
    position: absolute;
    left: 0;
    right: 0;
    top: -302px;
    height: 150%;
    background-image: url("http://www.nicdarkthemes.com/themes/travel/wp/demo/love-travel/wp-content/uploads/sites/3/2018/11/parallax-2.jpg");
    background-position: 50% 0%;
    background-color: transparent; 
    background-size: cover;
    background-repeat: no-repeat; 
    z-index: -2;
}

.header__background::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(101,100,96,1) 0%,rgba(101,100,96,0) 45%,rgba(101,100,96,0) 45%,rgba(101,100,96,0.8) 100%);
}

.header__subheading {
    color: var(--white-color);
    text-align: center;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 4px;
    font-weight: normal;
    text-transform: uppercase;
    margin: 0;

}

.header__search {

}

.header__search-form {
    position: relative;
}

.header__search-list {
    box-sizing: border-box;
}

.header__search-list select option {
    padding: 10px 20px;
}

.header__search-item {
    cursor: pointer;
    padding: 10px 25px;
    width: 100%;
    font-size: 1.5rem;
}

.header__search-submit {
    position: absolute;
    top: -3px;
    right: 10px;
}

.header__search-submit input[type="submit"] {
    background-image: url(http://www.nicdarkthemes.com/themes/travel/wp/demo/love-travel/wp-content/plugins/nd-travel/addons/visual/search/layout/icon-search-grey.png);
    background-size: 18px;
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
    width: 47px;
    height: 47px;
}

.header__travel-option {
    position: relative;
}

.header__travel-option-list {
    position: relative;
    height: 134.2px;
    padding-left: 15px;
    padding-right: 15px;
}

.header__travel-option-wrap {
    
}

.header__travel-option-item {
    box-sizing: border-box;
    padding: 15px;
}

.header__travel-option-content {
    box-sizing: border-box;
    padding: 20px;
    background: rgba(0, 0, 0, 0.21);
    text-align: center;
}

.header__travel-option-content a {
    text-decoration: none;
}

.header__travel-option-text {
    color: var(--white-color);
    font-size: 1.1rem;
    line-height: 11px;
    font-weight: normal;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin: 0;
}

/* Container */
/* Container - Proposals */
.container {
    margin-top: 60px;
}

.proposals {
    padding-left: 0;
    padding-right: 0;
}

.proposals__subheading {
    color: var(--text-color);
    text-align: center;
    font-size: 1.4rem;
    line-height: 14px;
    letter-spacing: 2px;
    font-weight: normal;
    text-transform: uppercase;
}

.proposals__heading {
    color: var(--heading-color);
    text-align: center;
    font-size: 3.6rem;
    line-height: 36px;
    letter-spacing: 0px;
    font-weight: bold;
    text-transform: uppercase;
}

.proposals__heading > u {
    position: relative;
    text-decoration: none;
}

.proposals__heading > u::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 5px;
    left: 0;
    bottom: 11px;
    background-color: var(--primary-color-green);
    z-index: -1;
}

.proposals__list {
    position: relative;
}

.proposals__item {
    top: 0;
    left: 0;
    padding: 15px;
}

.proposals__item-box {
    box-sizing: border-box;
}

.proposals__item-content {
    position: relative;
}

.proposals__item-content:hover .options__fadeOut {
    opacity: 0;
    z-index: 1;
    -webkit-transition: opacity;
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-duration: 500ms;
}

.proposals__item-content:hover .options__fadeIn {
    opacity: 1;
    z-index: 2;
    -webkit-transition: opacity;
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-duration: 800ms;
}

.proposals__item-info--front {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: linear-gradient(to bottom, rgba(101,100,96,0) 0%,rgba(101,100,96,0.1) 60%,rgba(101,100,96,0.65) 100%);
}

.proposals__item-info-title,
.proposals__item-info-icon {
    position: absolute;
    left: 0;
    padding: 30px;
}

.proposals__item-info-title {
    bottom: 0;
}

.proposals__item-info-title-heading {
    letter-spacing: 0;
    margin-bottom: 0;
    color: var(--white-color);
}

.proposals__item-info-title-subheading {
    letter-spacing: 2px;
    color: var(--white-color);
    font-weight: normal;
    text-transform: uppercase;
}

.proposals__item-info-icon {
    top: 0;
}

.proposals__item-info--back {
    position: absolute;
    display: table;
    top: 0;
    left: 0;
    height: 100%;
    text-align: center;
    background-color: var(--primary-color-blue);
}

.proposals__item-info-content {
    box-sizing: border-box;
    padding: 30px;
    vertical-align: middle;
    display: table-cell;
    width: 100%;
    text-align: center;
}

.proposals__item-info-content-heading {
    letter-spacing: 0;
    margin-bottom: 0;
    color: var(--white-color);
}

.proposals__item-info-content-option p {
    color: var(--white-color);
}

.proposals__item-info-content-view {
    padding: 5px 20px;
    color: var(--primary-color-blue);
    background-color: var(--white-color);
    border-radius: 30px;
    text-transform: uppercase;
    font-size: 1.4rem;
    line-height: 27px;
}

/* Container - Banner proposal */
.banner-proposal {
    position: relative;
    margin-left: 0px;
    margin-right: 0px;
    left: -159.6px;
    box-sizing: border-box;
    width: 1519px;
    padding-left: 159.6px;
    padding-right: 159.4px;
    align-items: center;
    z-index: 0;
}

.banner-proposal.row {
    margin-left: 0px;
    margin-right: 0px;
    z-index: 0;
}

.banner-proposal__img {
    margin-top: 60px;
    padding-top: 50px;
    padding-bottom: 50px;
    background-image: url("http://www.nicdarkthemes.com/themes/travel/wp/demo/love-travel/wp-content/uploads/sites/3/2018/11/parallax-search-2.jpg?id=1538");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -99;
}

.banner-proposal__space,
.banner-proposal__title,
.banner-proposal__view {
    position: relative;
    min-height: 1px;
    box-sizing: border-box;
}

.banner-proposal__title {
    float: left;
    align-items: center;
}

.banner-proposal__title-wrap,
.banner-proposal__view-wrap {
    box-sizing: border-box;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
}

.banner-proposal__title-heading-1 {
    color: var(--white-color);
    font-size: 4.5rem;
    line-height: 45px;
    letter-spacing: 0;
    font-weight: bold;
}

.banner-proposal__title-heading-2 {
    color: var(--white-color);
    font-size: 5rem;
    line-height: 50px;
    letter-spacing: 0;
    font-weight: bold;
    z-index: 2;
}

.banner-proposal__title-heading-2 > u {
    position: relative;
    text-decoration: none;
}

.banner-proposal__title-heading-2 > u::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 5px;
    left: 0;
    bottom: 11px;
    background-color: var(--primary-color-red);
    z-index: -1;
}

.banner-proposal__view {
    align-items: center;
}

.banner-proposal__view-wrap {
    
}

.banner-proposal__view-submit {
    text-align: center;
}

.banner-proposal__view-submit__content {
    padding: 15px 35px;
    border-radius: 38px;
    letter-spacing: 2px;
    font-size: 1.4rem;
    line-height: 14px;
    background-color: var(--white-color);
    color: var(--primary-color-red);
    text-transform: uppercase;
    display: inline-block;
}

/* Container - Recommend proposal */
.recommend-proposal {
    margin-top: 55px;
}

.recommend-proposal__info,
.recommend-proposal__img {
    position: relative;
    min-height: 1px;
    box-sizing: border-box;
    padding-left: 0;
    padding-right: 0;
}

.recommend-proposal__info-container {
    box-sizing: border-box;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 15px;
    padding-right: 35px;
    width: 100%;
}

.recommend-proposal__info-subheading {
    color: var(--text-color);
    font-size: 1.4rem;
    line-height: 14px;
    letter-spacing: 2px;
    font-weight: normal;
    text-transform: uppercase;
}

.recommend-proposal__info-heading {
    color: var(--heading-color);
    font-size: 3.6rem;
    line-height: 36px;
    letter-spacing: 0;
    font-weight: bold;
}

.recommend-proposal__info-heading > u {
    position: relative;
    text-decoration: none;
}

.recommend-proposal__info-heading > u::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 5px;
    left: 0;
    bottom: 11px;
    background-color: var(--primary-color-green);
    z-index: -1;
}

.recommend-proposal__info-description {
    text-align: left;
    color: var(--text-color);
}

.recommend-proposal__info-price-number {
    font-weight: normal;
    color: var(--heading-color);
}

.recommend-proposal__info-price-number--old {
    color: var(--old-price-color);
    text-decoration: line-through;
}

.recommend-proposal__info-price-element {
    font-size: 1.4rem;
    text-transform: uppercase;
}

.recommend-proposal__info-submit {
    border-radius: 38px;
    letter-spacing: 2px;
    font-size: 1.4rem;
    line-height: 14px;
    color: var(--white-color);
    background-color: var(--primary-color-green);
    padding: 15px 35px;
    text-transform: uppercase;
}

.recommend-proposal__img-container {
    box-sizing: border-box;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 35px;
    padding-right: 15px;
    width: 100%;
}

.recommend-proposal__img-gallery {
    position: relative;
    background: url("http://www.nicdarkthemes.com/themes/travel/wp/demo/love-travel/wp-content/uploads/sites/3/2018/11/package-3.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 410px;
}

.recommend-proposal__img-countdown div {
    position: relative;
    min-height: 1px;
    box-sizing: border-box;
    float: left;
}

.recommend-proposal__img-countdown-time {
    box-sizing: border-box;
    margin-top: -60px;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
    text-align: center;
}

.recommend-proposal__img-time {
    position: relative;
    float: left;
    width: 25%;
    background-color: var(--primary-color-blue);
    text-align: center;
}

.recommend-proposal__img-time::after {
    position: absolute;
    content: '/';
    top: 30px;
    right: -12px;
    font-size: 4rem;
    line-height: 60px;
    color: var(--black-color);
    opacity: 0.05;
    font-weight: 400;
    z-index: 1;
}

.recommend-proposal__img-time:last-child::after {
    display: none;
}

.recommend-proposal__img-time-number {
    color: var(--white-color);
    margin-top: 30px;
    margin-bottom: 5px;
    font-size: 3.5rem;
    line-height: 35px;
    font-weight: normal;
    text-align: center;
}

.recommend-proposal__img-time-element {
    display: inline-block;
    color: var(--white-color);
    margin-bottom: 30px;
    font-weight: normal;
    letter-spacing: 2px;
    text-align: center;
    text-transform: uppercase;
}

/* Container - Recommend travel */
.recommend-travel {
    margin-top: 30px;
}

.recommend-travel__type {
    position: relative;
    min-height: 1px;
    box-sizing: border-box;
    float: left;
}

.recommend-travel__type-wrap {
    box-sizing: border-box;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
}

.recommend-travel__type-container {
    position: relative;
    width: 100%;
    float: left;
}

.recommend-travel__type-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
}

.recommend-travel__type-content {
    box-sizing: border-box;
    padding-left: 70px;
    width: 100%;
    float: left;
}

.recommend-travel__type-content__heading {
    color: var(--heading-color);
    font-size: 2.4rem;
    line-height: 24px;
    font-weight: bold;
}

.recommend-travel__type-content__description {
    margin: 20px 0;
    color: var(--text-color);
    line-height: 24px;
}

.recommend-travel__type-content__view {
    color: var(--primary-color-blue);
    font-size: 1.4rem;
    line-height: 14px;
    display: inline-block;
}

/* Container - Promotion */
.banner-promotion {
    position: relative;
    box-sizing: border-box;
    margin-top: 65px;
    width: 1519px;
    left: -159.6px;
}

.banner-promotion__container {
    position: relative;
    box-sizing: border-box;
    min-height: 1px;
    float: left;
}

.banner-promotion__content-01 {
    box-sizing: border-box;
    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
    background-image: url("http://www.nicdarkthemes.com/themes/travel/wp/demo/love-travel/wp-content/uploads/sites/3/2018/11/parallax-5-filter.jpg?id=1584");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.banner-promotion__content-02 {
    box-sizing: border-box;
    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
    background-image: url("http://www.nicdarkthemes.com/themes/travel/wp/demo/love-travel/wp-content/uploads/sites/3/2018/11/parallax-6-filter.jpg?id=1585");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.banner-promotion__content__subheading {
    color: var(--white-color);
    font-size: 1.4rem;
    letter-spacing: 2px;
    font-weight: normal;
    text-align: center;
    text-transform: uppercase;
}

.banner-promotion__content__heading {
    color: var(--white-color);
    font-size: 3.6rem;
    letter-spacing: 0px;
    text-align: center;
}

.banner-promotion__content__view {
    text-align: center;
}

.banner-promotion__content__view-link-01 {
    border-radius: 38px;
    letter-spacing: 2px;
    font-size: 1.4rem;
    line-height: 14px;
    background-color: var(--white-color);
    padding: 15px 35px;
    color: var(--primary-color-orange);
    text-transform: uppercase;
    display: inline-block;
}

.banner-promotion__content__view-link-02 {
    border-radius: 38px;
    letter-spacing: 2px;
    font-size: 1.4rem;
    line-height: 14px;
    background-color: var(--white-color);
    padding: 15px 35px;
    color: var(--primary-color-green);
    text-transform: uppercase;
    display: inline-block;
}

.promotions {
    margin-top: 60px;
    margin-bottom: 60px;
}

.promotions__container {
    position: relative;
    box-sizing: border-box;
    min-height: 1px;
}

.promotions__content {
    box-sizing: border-box;
    width: 100%;
}

.promotions__subheading {
    color: var(--text-color);
    font-size: 1.4rem;
    line-height: 14px;
    letter-spacing: 2px;
    font-weight: normal;
    text-align: center;
    text-transform: uppercase;
}

.promotions__heading {
    color: var(--heading-color);
    font-size: 36px;
    line-height: 36px;
    letter-spacing: 0px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}

.promotions__heading > u {
    position: relative;
    text-decoration: none;
}

.promotions__heading > u::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 5px;
    left: 0;
    bottom: 11px;
    background-color: var(--primary-color-green);
    z-index: -1;
}

.promotions__list {
    position: relative;
    height: 642.213px;
}

.promotions__item {
    top: 0;
    left: 0;
}

.promotions__item-box {
    box-sizing: border-box;
    padding: 15px;
}

.promotions__item-container {
    border: 1px solid #f1f1f1;
    width: 100%;
    float: left;
}

.promotions__item-head {
    position: relative;
}

.promotions__item-head__img {
    width: 100%;
}

.promotions__item-head__icon-view {
    position: absolute;
    right: 20px;
    bottom: -25px;
    width: 50px;
    height: 50px;
    border-radius: 100%;
}

.promotions__item-head__icon-view__img {
    position: absolute;
    top: 12px;
    left: 12px;
    width: 26px;
}

.promotions__item-content {
    box-sizing: border-box;
    padding: 30px;
}

.promotions__item-destination {

}

.promotions__item-destination__title {
    color: var(--heading-color);
    letter-spacing: 0;
}

.promotions__item-location {

}

.promotions__item-location__icon {
    margin-right: 5px;
    width: 14px;
    float: left;
    border: 0;
}   

.promotions__item-location__title {
    color: var(--text-color);
    font-weight: normal;
    letter-spacing: 2px;
}

.promotions__item-info {

}

.promotions__item-info__border {
    height: 1px;
    border-bottom: 1px solid #f1f1f1;
}

.promotions__item-info__types {
    width: 50%;
    float: left;
}

.promotions__item-info__types-wrap {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    float: left;
}

.promotions__item-info__types-box {
    position: relative;
}

.promotions__item-info__types__first h6,
.promotions__item-info__types__second h6 {
    color: var(--heading-color);
    font-weight: normal;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.promotions__item-info__types__second-wrap {

}

.promotions__item-info__types__second {
    display: inline-block;
    line-height: 27px;
}

.promotions__item-info__types__second h6 {
    display: inline-block;
}

.promotions__item-info__types__more {
    position: relative;
    padding: 2px 8px;
    margin-left: 5px;
    color: var(--white-color);
    font-size: 1.1rem;
    line-height: 14px;
    border-radius: 30px;
}

.promotions__item-info__types__more:hover .promotions__item-info__types__more__info {
    display: block;
}

.promotions__item-info__types__more__info {
    position: absolute;
    top: 20px;
    left: 0;
    display: none;
}

.promotions__item-info__types__more__info-content {
    background-color: var(--heading-color);
    border-top-width: 10px;
}

.promotions__item-info__types__more__info-type {
    display: block;
    padding: 5px 12px;
}

.promotions__item-info__types__more__info-type p {
    color: var(--white-color);
    font-size: 1.1rem;
    line-height: 16px;
}

.promotions__item-info__types__more__info-type:first-child {
    padding-top: 10px;
}

.promotions__item-info__types__more__info-type:last-child {
    padding-bottom: 10px;
}

.promotions__item-info__price {
    width: 50%;
    float: left;
    text-align: right;
}

.promotions__item-info__price-view {
    margin-top: 8px;
}

.promotions__item-info__price__content {
    color: var(--heading-color);
    font-weight: normal;
}

.promotions__item-info__old-price {
    color: var(--text-color);
    font-size: 2rem;
    line-height: 20px;
    text-decoration: line-through;
}

.promotions__item-description {
    color: var(--text-color);
}

.promotions__item-view-detail {
    display: inline-block;
    padding: 5px 20px;
    color: var(--white-color);
    font-size: 1.4rem;
    line-height: 27px;
    border-radius: 30px;
    text-transform: uppercase;
}

/* Footer */
.footer__content {
    position: relative;
    left: -159.6px;
    box-sizing: border-box;
    width: 1519px;
    padding-left: 144.6px;
    padding-right: 144.4px;
    background-image: url("http://www.nicdarkthemes.com/themes/travel/wp/demo/love-travel/wp-content/uploads/sites/3/2018/11/parallax-7.jpg?id=1602");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    float: left;
}

.footer__box {
    position: relative;
    padding-left: 0;
    padding-right: 0;
    min-height: 1px;
    box-sizing: border-box;
    width: 100%;
    float: left;
}

.footer__box-wrap {
    box-sizing: border-box;
    padding-top: 0;
    padding-left: 30px;
    padding-right: 30px;
    width: 100%;
}

.footer__contact {

}

.footer__contact-title {

}

.footer__contact-title__content {
    box-sizing: border-box;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
}

.footer__contact-title__content-subheading {
    color: var(--text-color);
    font-size: 1.4rem;
    line-height: 14px;
    letter-spacing: 2px;
    font-weight: normal;
    text-transform: uppercase;
}

.footer__contact-title__content-heading {
    color: var(--heading-color);
    font-size: 3.6rem;
    line-height: 36px;
    letter-spacing: 0;
    font-weight: bold;
}

.footer__contact-box {
    position: relative;
    padding-left: 0;
    padding-right: 0;
    min-height: 1px;
    box-sizing: border-box;
    width: 100%;
    float: left;
}

.footer__contact-box__content {
    box-sizing: border-box;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
}

.footer__contact__form-container {
    box-sizing: border-box;
}

.screen-reader-response {
    position: absolute;
    overflow: hidden;
    height: 1px;
    width: 1px;
    margin: 0;
    padding: 0;
    border: 0;
}

.footer__contact__form-box {
    box-sizing: border-box;
    padding-right: 20px;
    width: 75%;
    float: left;
}

.footer__contact__form-box__container {
    position: relative;
}

.footer__contact__form-box__content {
    box-sizing: border-box;
    outline: 0;
    width: 100%;
    float: left;
    border: 1px solid #f1f1f1;
    line-height: 100%;
}

.footer__contact__form-submit {
    box-sizing: border-box;
    width: 25%;
    float: left;
}

.footer__contact__form-submit__content {
    box-sizing: border-box;
    outline: 0;
    width: 100%;
    float: left;
    border: 1px solid #f1f1f1;
    letter-spacing: 2px;
    line-height: initial;
}


.footer__info {
    margin-right: 0px;
    margin-left: 0px;
    padding-top: 35px;
    padding-right: 30px;
    padding-bottom: 35px;
    padding-left: 30px;
    background-color: var(--white-color);
}

.footer__info-main {
    position: relative;
    min-height: 1px;
    box-sizing: border-box;
    float: left;
}

.footer__info-main__content {
    box-sizing: border-box;
    padding-left: 15px;
    padding-right: 25px;
    width: 100%;
}

.footer__info-main__logo {
    text-align: left;
}

.footer__info-main__logo-img {
    width: 150px;
}

.footer__info-main__description p{
    color: var(--text-color);
}

.footer__info-main__social-media {
    margin: 0 20px 0 0;
    display: inline-block;
    float: left;
}

.footer__info-main__social-media img {
    width: 22px;
}

.footer__info-item {
    position: relative;
    min-height: 1px;
    box-sizing: border-box;
    float: left;
}

.footer__info-item__content {
    box-sizing: border-box;
    padding-left: 15px;
    padding-right: 25px;
    width: 100%;
}

.footer__info-item__content-heading {
    font-size: 1.4rem;
    line-height: 14px;
    color: var(--heading-color);
    letter-spacing: 2px;
    font-weight: bold;
    text-transform: uppercase;
}

.footer__info-item__content-element p {
    color: var(--text-color);
}

.footer__copyright {
    margin-left: 0;
    margin-right: 0;
    background-color: var(--primary-color-blue);
}

.footer__copyright__content {
    position: relative;
    min-height: 1px;
    box-sizing: border-box;
    float: left;
}

.footer__copyright__content-box {
    box-sizing: border-box;
    padding: 20px;
    width: 100%;
}

.footer__copyright .footer__copyright__content:first-child .footer__copyright__content-box > h6 {
    color: var(--white-color);
    font-size: 1.2rem;
    line-height: 12px;
    letter-spacing: 2px;
    font-weight: normal;
    text-transform: uppercase;
}

.footer__copyright .footer__copyright__content:last-child .footer__copyright__content-box > h6 {
    color: var(--white-color);
    text-align: right;
    font-size: 1.2rem;
    line-height: 12px;
    letter-spacing: 2px;
    font-weight: normal;
    text-transform: uppercase;
}

/* Slide bar */
.slide-bar {
    position: fixed;
    top: 0;
    right: -370px;
    box-sizing: border-box;
    width: 370px;
    height: 100%;
    background-color: var(--white-color);
    border-left: 1px solid #f1f1f1;
    z-index: 999;
}

.slide-bar__close-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    z-index: 9;
}

.slide-bar__content {
    padding: 20px;

}

.slide-bar__box {
    position: relative;
    min-height: 1px;
    box-sizing: border-box;
    float: left;
}

.slide-bar__wrap {
    box-sizing: border-box;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
}

.slide-bar__subheading {
    color: var(--text-color);
    text-align: center;
    letter-spacing: 2px;
    font-weight: normal;
    text-transform: uppercase;
}

.slide-bar__heading {
    color: var(--heading-color);
    font-size: 2.5rem;
    text-align: center;
    letter-spacing: 0;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0;
}

.slide-bar__heading > u {
    position: relative;
    text-decoration: none;
}

.slide-bar__heading > u::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 5px;
    left: 0;
    bottom: 11px;
    background-color: var(--primary-color-yellow);
    z-index: -1;
}

.slide-bar__recommend-list {
    position: relative;
}

.slide-bar__recommend-item {

}

.slide-bar__recommend-item__box {
    box-sizing: border-box;
    padding: 15px;
}

.slide-bar__recommend-item__wrap {
    position: relative;
}

.slide-bar__recommend-item__img {
    position: absolute;
    top: 0;
    left: 0;
}

.slide-bar__recommend-item__info {
    box-sizing: border-box;
    padding-left: 130px;
}

.slide-bar__recommend-item__info-place h3{
    color: var(--heading-color);
    font-weight: normal;
    letter-spacing: 0;
    margin-top: 5px;
}

.slide-bar__recommend-item__info-description img {
    margin-right: 5px;
    border: 0;
    float: left;
}

.slide-bar__recommend-item__info-description h5 {
    color: var(--text-color);
    font-weight: normal;
    letter-spacing: 2px;
}

.slide-bar__recommend-item__info-price {
    display: inline-block;
    padding: 5px 20px;
    padding-top: 8px;
    color: var(--white-color);
    font-size: 1.4rem;
    line-height: 14px;
    text-transform: uppercase;
    border-radius: 30px;
}

.slide-bar__package {
    top: 0;
    left: 0;
    padding: 15px;
}

.slide-bar__package-box {
    box-sizing: border-box;
}

.slide-bar__package-content {
    position: relative;
}

.slide-bar__package-content:hover .options__fadeOut {
    opacity: 0;
    z-index: 1;
    -webkit-transition: opacity;
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-duration: 500ms;
}

.slide-bar__package-content:hover .options__fadeIn {
    opacity: 1;
    z-index: 2;
    -webkit-transition: opacity;
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-duration: 800ms;
}

.slide-bar__package-info--front {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: linear-gradient(to bottom, rgba(101,100,96,0) 0%,rgba(101,100,96,0.1) 60%,rgba(101,100,96,0.65) 100%);
}

.slide-bar__package-info-title,
.slide-bar__package-info-icon {
    position: absolute;
    left: 0;
    padding: 30px;
}

.slide-bar__package-info-title {
    bottom: 0;
}

.slide-bar__package-info-title-heading {
    letter-spacing: 0;
    margin-bottom: 0;
    color: var(--white-color);
}

.slide-bar__package-info-title-subheading {
    letter-spacing: 2px;
    color: var(--white-color);
    font-weight: normal;
    text-transform: uppercase;
}

.slide-bar__package-info-icon {
    top: 0;
}

.slide-bar__package-info--back {
    position: absolute;
    display: table;
    top: 0;
    left: 0;
    height: 100%;
    text-align: center;
    background-color: var(--primary-color-blue);
}

.slide-bar__package-info-content {
    box-sizing: border-box;
    padding: 30px;
    vertical-align: middle;
    display: table-cell;
    width: 100%;
    text-align: center;
}

.slide-bar__package-info-content-heading {
    letter-spacing: 0;
    margin-bottom: 0;
    color: var(--white-color);
}

.slide-bar__package-info-content-option p {
    color: var(--white-color);
}

.slide-bar__package-info-content-view {
    padding: 5px 20px;
    color: var(--primary-color-blue);
    background-color: var(--white-color);
    border-radius: 30px;
    text-transform: uppercase;
    font-size: 1.4rem;
    line-height: 27px;
}